body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  color: #fff;
  background-color: #85CDB0;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER**/

#header-nav {
	background-color: #E8A87C;
	border-radius: 0;
	border: 0;

}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 { /*Restaurant name/*/
   font-family: 'Lora', serif;
   color: #41B3A3;
   font-size: 1.8em;
   text-transform: uppercase;
   font-weight: bold;
   text-shadow: 1px 1px 1px #222;
   margin-top: -5px;
   margin-bottom: 8px;
   line-height: .75em;

}
.navbar-header button {
  background-color: 1px solid #41B3A3;
  border-color: #E8A87C;
}
#Our-menu {
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

#our-menu-block {
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.Chicken, .Beef, .Sushi p {
  font-family: 'Lora', serif;
  font-size: .5em;
  border-color: white;
}

